/** @format */

.inputGrid {
	justify-content: center;
}
.inputForm {
	width: 100%;
}
.submit {
	position: absolute;
	right: 0;
	margin-right: 4rem;
	margin-top: 1rem;
	background-color: lightgreen;
	outline: none;
	border: 0.5px solid black;
	border-radius: 4px;
}
.subnet-info {
	margin-left: 4rem;
	margin-right: 4rem;
	margin-top: 3rem;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 8px;
	background-color: azure;
}
.subnet-info:hover {
	border: 2px solid greenyellow;
}
.results {
	margin-top: 3rem;
	margin-right: 3.5rem;
	margin-left: 3.5rem;
	border-top: 2px dotted black;
}
