/** @format */

.inputGrid {
	justify-content: center;
	width: 100%;
}
.inputForm {
	width: 100%;
}
.submit {
	position: absolute;
	right: 0;
	margin-right: 4rem;
	margin-top: 1rem;
	background-color: lightgreen;
	outline: none;
	border: 0.5px solid black;
	border-radius: 4px;
}
.subnet-info {
	padding-left: 4rem;
	padding-right: 4rem;
	border-bottom: 1px solid black;
}
